* {
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  display: flex;
  &__side-bar{
    width: 300px;
    height: 100vw;
  }
  &__main-chat{
    width: calc(100vw - 300px);
    height: 100vw;
  }

  .side-header{ 
    height: 100px;
    padding:0 20px;
    display: flex;
    align-items: center;
    background-color:#253141;
  }  

  .side-header-space{
    height: 20px;
    width: 260px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

  .user-name{ 
    color:#ffffff;
  }

  .menu{
    width: 60px;
    display: flex; 
    &__btn{
      margin-left: 5px;
      &--icon{
        color: #ffffff;
      }
    }  
  }
  
  .side-box{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
   
  .Group{
    padding:0 20px;
    &__name{
      color: #ffffff;
      padding: 20px 0 5px 0;
      font-size: 15px;
      font-weight: bold;
    }
    &__message{
      color: #ffffff;
      margin-bottom: 46px;
      font-size: 11px;
      font-weight: bold;
    }
  }
  //メインチャットのヘッダー
  .main-header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ffffff;
    border-bottom: 1px solid #eeeeee;
    .header-left{
      margin: 35px 0 15px 0;
      .group-name{
        color: #333333;
        font-size: 20px;
      }
      .member-lists{
        color: #999999;
        font-size: 12px;
        list-style: none;
      }
    //&__group-name{
      //color: #333333;
      //font-size: 20px;
    //}
    //&__member-lists{
      //color: #999999;
      //font-size: 12px;
    //}
    }
    .header-right{
      height: 40px;
      width: 72px;
      padding: 8px 20px;
      margin: 28px 0 32px 0;
      border: 1px solid #38aef0;
      font-size: 16px;
      &__btn{
      color: #38aef0;
      text-decoration: none;
      }
    }
  }

  

//メインチャットのメッセージ部分
  .MessageField{
    height: calc(100vh - 100px - 90px);
    padding: 0 0 0 40px;
    background-color: #fafafa;
    .MessageInfo{
      background-color: #fafafa;
      display: flex;
      justify-content: start;
      &__userName{
        color: #333333;
        font-size: 16px;
        margin: 35px 0 12px 0;
      }
      &__date{
        display: block;
        color: #999999;
        font-size: 12px;
        padding: 35px 0 12px 0;
        text-align: right;
      }
      .Message{
        color: #434A54;
        font-size: 14px;
        margin-bottom: 46px;
      }
    }
  }
//メインチャットのヘッダー
  .main-fooder{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;

    .new-massages{
      display: flex;
      .input-box{
        display: flex;
        width: 100%;
        position: relative;
        .Form__inputContent{
          height: 50px;
          width: 100%;
          color: #434e54;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        .Form__inputImage{
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 16px;
          .Hidden{
            display: none;
          }
        }
      }
      .Form__submit{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}